@keyframes soon {
  0%{
    color: rgb(0, 255, 255);
  }
  25%{
    color: rgb(98, 255, 0);
  }
  50%{
    color: rgb(255, 149, 250);
  }
  75%{
    color: rgba(255, 255, 255, 0.936);
  }
  100%{
    color: rgb(255, 238, 0);
  }
}

@keyframes chevron {
  0%{
    color: rgb(250, 0, 204);
  }
  25%{
    color: rgba(0, 98, 255, 0.936);
  }
  50%{
    color: rgb(250, 0, 204);
  }
  75%{
    color: rgba(0, 98, 255, 0.936);
  }
  100%{
    color: rgb(250, 0, 204);
  }
}